{% extends 'base.html' %}

{% block content %}
<script>
    function send_first(){
        let response = fetch('/api/orm/all_users', {
           method: 'POST',
        }).then(response => response.text())
                .then(data => {
                  data = JSON.parse(data);
                  document.getElementById("first-query").innerHTML = "";
                for (i in data){
                if (i.status.title == "owner"){
                  document.getElementById("first-query").innerHTML += `<span>${i.id}, ${i.name}, ${i.status.title}, ${i.status.verified}</span>`;}
                else if (i.status.title == "realtor"){
                 document.getElementById("first-query").innerHTML += `<span>${i.id}, ${i.name}, ${i.status.title}, ${i.status.yearsw}</span>`;}
                else if (i.status.title == "company"){
                 document.getElementById("first-query").innerHTML += `<span>${i.id}, ${i.name}, ${i.status.title}, ${i.status.yearsw}, ${i.status.companyname}, ${i.status.websity}</span>`;}
                }
                });
    }

    function send_second(){
        uid = document.getElementById("UID").value;
        let response = fetch(`/api/orm/delete-user/${uid}`, {
           method: 'DELETE',
        }).then(response => response.text()).then(data => {
          data = JSON.parse(data);
          document.getElementById("second-query").innerHTML = "";
        for (i in data){
         document.getElementById("second-query").innerHTML += `<span>${i['id']}, ${i['name']}, ${i['surname']}, ${i['email']}</span>`
        }
        });
    }

    function send_thrid(){
        let response = fetch('/api/orm/ads-incity-order-price', {
               method: 'POST',
            }).then(response => response.text()).then(data => {
              data = JSON.parse(data);
              document.getElementById("thrid-query").innerHTML = "";
            for (i in data){
             document.getElementById("thrid-query").innerHTML += `<span>${i['name']}, цена: ${i['price']}, площадь: ${i['square']}, этаж: ${i['floor']}, Адрес: ${i['city']}, ${i['district']}, ${i['sreet']}, ${i['housenumber']}, ${i['apartamentnumber']}</span>`
            }
            });
    }

   function send_fourth(){
        let response = fetch('/api/orm/user-ads-byname?' + new URLSearchParams({
        name: document.getElementById("name").value}), {
        method: "POST",
        }).then(response => response.text()).then(data => {
          data = JSON.parse(data);
          document.getElementById("fourth-query").innerHTML = "";
        if (data.replace(/"/g, '') === "ERROR") {document.getElementById("fourth-query").innerHTML = "<span>ОШИБКА</span>"}
        else{
            for (i in data){
             document.getElementById("fourth-query").innerHTML += `<span>${i['id']}, ${i['name']}, ${i['surname']}, ${i['email']}, ${i['rename']}</span>`
            }
        }
        })
    }

</script>
<a href="/sql" type="button">RAW SQL</a>
<form>
  <h1>
  Запросы через ORM
</h1>
  <div id="wrapper">
    <div id="arrow"></div>
    <ol>
      <li>
         <div>
          <p>
        Запрос отображающий всех пользователей
          </p>
          <button onclick="send_first()">
            <span>
            Выполнить
            </span>
          </button>
           <div id="first-query">
           </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос удаляющий пользователя с определенным ID
          </p>
           <input id="UID" placeholder="ID" type="text">
          <button onclick="send_second()">
            <span>
            Выполнить
            </span>
          </button>
           <div id="second-query">
             </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос выводящий все объявления отсортированные по цене
          </p>
          <button onclick="send_thrid()">
            <span>
            Выполнить
            </span>
          </button>
           <div id="thrid-query">
             </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос выводящий все объявления у пользователей с определенным именем
          </p>
           <input id="name" placeholder="name" type="text">
          <button type="button" onclick="send_fourth()">
            <span>
            Выполнить
            </span>
          </button>
           <div id="fourth-query">
             </div>
         </div>
   </li>
     </ol>
  </div>

</form>

{% endblock %}