{% extends 'base.html' %}

{% block content %}
<script>
    function send_first(){
        let response = fetch('/api/orm/all_users', {
           method: 'POST',
        }).then(response => response.text())
                .then(data => {
                  data = JSON.parse(data);
                  console.log(data);
                  document.getElementById("first-query").innerHTML = "";
                  document.getElementById("first-query").innerHTML =`<tr>
                    <td>ID</td>
                    <td>Имя</td>
                    <td>Статус</td>
                    <td>Верифицированный</td>
                    <td>Год начала работы</td>
                    <td>Компания</td>
                    <td>Сайт</td>
                    </tr>`;
                for (var key in data){
                  i = data[key]
                if (i.title == "owner"){
                  document.getElementById("first-query").innerHTML += `<tr><td>${i.id}</td><td>${i.name}</td><td>${i.title}</td><td>${i.verified}</td></tr>`}
                else if (i.title == "realtor"){
                 document.getElementById("first-query").innerHTML += `<tr>
                  <td>${i.id}</td>
                  <td>${i.name}</td>
                  <td>${i.title}</td>
                  <td></td>
                  <td>${i.yearsw}</td>
                  </tr>`}
                else if (i.title == "company"){
                 document.getElementById("first-query").innerHTML += 
                 `<tr>
                  <td>${i.id}</td>
                  <td>${i.name}</td>
                  <td>${i.title}</td>
                  <td></td>
                  <td>${i.yearsw}</td>
                  <td>${i.companyname}</td>
                  <td>${i.website}</td>
                  </tr>`;}
                }
                });
    }

    function send_second(){
        uid = document.getElementById("UID").value;
        let response = fetch(`/api/orm/delete-user/${uid}`, {
           method: 'DELETE',
        }).then(response => response.text()).then(data => {
          data = JSON.parse(data);
          document.getElementById("second-query").innerHTML = "";
          document.getElementById("second-query").innerHTML = `<tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            </tr>`;
        for (var key in data){
          i = data[key]
         document.getElementById("second-query").innerHTML += 
         `<tr>
            <td>${i['id']}</td>
            <td>${i['name']}</td>
            <td>${i['surname']}</td>
            <td>${i['email']}</td>
            </tr>`
        }
        });
    }

    function send_thrid(){
        let response = fetch('/api/orm/ads-incity-order-price', {
               method: 'POST',
            }).then(response => response.text()).then(data => {
              data = JSON.parse(data);
              document.getElementById("thrid-query").innerHTML = "";
              document.getElementById("thrid-query").innerHTML = "<tr><td>Название</td><td>Цена</td><td>Площадь</td><td>Этаж</td><td>Адрес</td></tr>";
            for (var key in data){
              i = data[key]
             document.getElementById("thrid-query").innerHTML += 
             `<tr> <td>${i['name']}</td> <td>${i['price']}</td> <td>${i['square']}</td> <td>${i['floor']}</td> <td>${i['city']}, ${i['district']}, ${i['sreet']}, ${i['housenumber']}, ${i['apartamentnumber']}</td></tr>`
            }
            });
    }

   function send_fourth(){
        let response = fetch('/api/orm/user-ads-byname?' + new URLSearchParams({
        name: document.getElementById("name").value}), {
        method: "POST",
        }).then(response => response.text()).then(data => {
          data = JSON.parse(data);
          document.getElementById("fourth-query").innerHTML = "";
          document.getElementById("fourth-query").innerHTML = `<tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Email</td>
            <td>Название</td>
            </tr>`;
        
            for (var key in data){
              i = data[key]
             document.getElementById("fourth-query").innerHTML += 
             `<tr>
            <td>${i['id']}</td>
            <td>${i['name']}</td>
            <td>${i['surname']}</td>
            <td>${i['email']}</td>
            <td>${i['rename']}</td>
            </tr>`
            }
        })
    }

</script>
<a href="/sql" type="button">RAW SQL</a>
<form>
  <h1>
  Запросы через ORM
</h1>
  <div id="wrapper">
    <div id="arrow"></div>
    <ol>
      <li>
         <div>
          <p>
        Запрос отображающий всех пользователей
          </p>
          <button type="button" onclick="send_first()">
            <span>
            Выполнить
            </span>
          </button>
           <div>
            <table id="first-query"></table>
           </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос удаляющий пользователя с определенным ID
          </p>
           <input id="UID" placeholder="ID" type="text">
          <button onclick="send_second()">
            <span>
            Выполнить
            </span>
          </button>
           <div>
            <table id="second-query">

            </table>
             </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос выводящий все объявления отсортированные по цене
          </p>
          <button type="button" onclick="send_thrid()">
            <span>
            Выполнить
            </span>
          </button>
           <div>
            <table id="thrid-query"></table>
             </div>
         </div>
   </li>
   <li>
         <div>
          <p>
            Запрос выводящий все объявления у пользователей с определенным именем
          </p>
           <input id="name" placeholder="name" type="text">
          <button type="button" onclick="send_fourth()">
            <span>
            Выполнить
            </span>
          </button>
           <div>
            <table id="fourth-query">

            </table>
             </div>
         </div>
   </li>
     </ol>
  </div>

</form>

{% endblock %}